@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
 --color-background: #FF0000;
 --font-oxanium: "Oxanium", sans-serif;
 --animate-gradient:'gradientMove 1s ease infinite';
 @keyframes gradientMove{
    '0%': { backgroundPosition: '0% 50%' },
    '50%': { backgroundPosition: '100% 50%' },
    '100%': { backgroundPosition: '0% 50%' }
 }
}
